{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media d-flex align-items-center mb-4">
        <img class="rounded-circle account-img mr-3" src="{{ user.profile.image.url }}" style="width: 125px; height: 125px; object-fit: cover; border: 3px solid #3F72AF;">
        <div class="media-body">
          <h2 class="account-heading" style="color: #3F72AF;">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4 pb-2" style="color: #3F72AF;">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit" style="background-color: #3F72AF; color: white; border-color: #3F72AF;">Update</button>
          </div>
      </form>
    </div>
{% endblock content %}